

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
	font-size:100%;
}

body {
	background:#fffefe;
	font-family:Roboto,Arial,Helvetica,sans-serif;
	color:#333333;
	overflow-y:scroll;
}

.container {
	width:990px;
	max-width:100%;
}

h1 {
	font-size:36px;
}

a {
	color:#0075bc;
}
a:hover, a:focus {
	color:#cc3300;
}

.jumbotron {
	background-color:#00274c;
	color:#ffffff;
}

.jumbotron h1 {
	margin-top:1.25em;
	font-family:'Roboto Slab',Roboto,Arial,Helvetica,sans-serif;
	font-size:2em;
	font-weight:bold;
}

.panel-title a {
	display:block;
}
.panel-title a .glyphicon {
	color:#555555;
}

.blue-button {
	display:inline-block;
	padding:10px 2em 10px 2em;
	border:0;
	background:#40658f;
	color:#ffffff;
	-webkit-appearance:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:1.25em;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.blue-button:hover {
	background:#567daa;
}

.copyright {
	color:#555555;
}
