

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background:#fffefe;
	color:#333333;
}

a {
	color: #0075bc;
}

a:hover, a:focus {
	color:#cc3300;
	text-decoration: underline
}

.jumbotron {
	background-color:#00274c;
	color:#ffffff;
}

.panel-title a .glyphicon {
	color:#555555;
}

.blue-button {
	display:inline-block;
	padding:10px 2em 10px 2em;
	border:0;
	background:#40658f;
	color:#ffffff;
	-webkit-appearance:none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	-webkit-border-radius:2px;
	border-radius:2px;
	font-size:inherit;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	cursor:pointer;
}
.blue-button:hover {
	background:#567daa;
}

.copyright {
	color:#555555;
}














